

/* My Custom Variable Handlers */

:root {
    --side-bg-color: #040b14;
    --theme-bg-color: rgb(5, 58, 58);
    --icons-bg-color: #2C2F3F;
    --text-color: #353535;
    --bg-color: #F7F7F7;
    --line-colors: rgb(15, 244, 244);
}

/* Header Section Begins - CSS Properties */

header {
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--side-bg-color);
    overflow-y: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}

header .profile-container {
    text-align: center;
    margin: 10px 0;
}

header .profile-container img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--icons-bg-color);
}

header .profile-container h1 {
    color: white;
    font-weight: 600;
}

header .profile-container .social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--icons-bg-color);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}

header .profile-container .social-icons a:hover {
    background-color: var(--theme-bg-color);
}

/* Navigation Bar Section Begins */

header nav {
    margin-top: 30px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover .icons {
    color: var(--theme-bg-color);
}

header nav ul li .active .icons {
    color: var(--theme-bg-color);
}

/* Google Maps */

.mapouter {
    position: relative;
    text-align: right;
    height: 119px;
    width: 235px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 119px;
    width: 235px;
}

/* Footer Header */

header .footer-header {
    text-align: center;
    background-color: var(--side-bg-color);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

header .footer-header p a {
    color: var(--bg-color);
}


/* Navigation Bar Ends */

/**/

#Menubtn {

    padding: 10px 10px 10px 10px;
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 9px;
    width: 22px;
    height: 22px;
    color: white;
    background-color: var(--theme-bg-color);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    display: none;
    z-index: 999;

}

#Menubtn i {
    font-size: 4px;
}


/* Pop up Contact form Begins */

.show-btn {
    padding: 5px 5px 5px 5px;
    position: fixed;
    top: 540px;
    right: 25px;
    width: 42px;
    height: 44px;
    color: white;
    font-size: 27px;
    text-align: center;
    background-color: rgb(24, 161, 161);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.75);
}

.show-btn:hover{
    background-color: rgb(218, 246, 173);
    color:#040b14;
}



input[type="checkbox"] {
    padding: 5px 5px 5px 5px;
    position: fixed;
    top: 540px;
    right: 25px;
    width: 42px;
    height: 44px;
    color: white;
    font-size: 27px;
    text-align: center;
    background-color: var(--theme-bg-color);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    visibility: hidden;
}

#show:checked~.wrapper {
    display: none;
}

.wrapper {
    padding: 0;
    position: fixed;
    top: 135px;
    right: 65px;
    width: 370px;
    height: 400px;
    color: white;
    font-size: 27px;
    text-align: center;
    background-color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.871);
    z-index: 999;
}

.wrapper h5 {
    color: white;
    padding: 15px;
    background-color: #2C2F3F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    font-weight: 300;
}

.wrapper h5+p {
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px 20px;
    text-align: center;
    color: var(--text-color);
}

.wrapper form {
    margin: 10px;
    width: 350px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgb(238, 236, 236);
}

input {
    display: block;
    width: 320px;
    height: 51px;
    border: none;
    outline: none;
    padding: 10px;
    color: #040b14;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid rgb(70, 67, 67);
}

button {
    width: 320px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input:focus {
    border-color: rgb(238, 236, 236);
}

button:hover {
    background-color: rgb(18, 68, 68);
    color: white;
}

.wrapper {
    animation: popup 1s;
}

@keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Mobile Version Pop up Contact */

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 315px;
        height: 400px;
    }

    .wrapper h5+p {
        font-size: 13px;
        margin-top: 10px;
        padding: 5px 20px;
       
    }
    
    .wrapper form {
        margin: 10px;
        width: 290px;
       
    }
    
    input {
        width: 260px;
    }
    
    button {
        width: 260px;
        padding: 8px;
    }
}

/* Realme C15 Resolution */

@media only screen and (max-width: 360px) {
    .wrapper {
        width: 300px;
        height: 400px;
        right: 25px;
    }

    .wrapper h5+p {
        font-size: 11px;
        margin-top: 10px;
        padding: 5px 20px;
       
    }
    
    .wrapper form {
        margin: 10px;
        width: 270px;
       
    }
    
    input {
        width: 240px;
    }
    
    button {
        width: 240px;
        padding: 8px;
    }
}

/* Pop up Contact form Ends */



/* Mobile  View */

@media only screen and (max-width:1050px) {

    header {
        left: -300px;
    }

    header .footer-header {
        left: -300px;
    }

    #Menubtn {
        display: block;
    }

}

/*Header toggle */

.mobile-nav-active header {
    left: 0;
}

/* Header Section Ends - CSS Properties */

/* Main Section */

main {
    margin-left: 300px;
    transition: 0.3s;
}

@media only screen and (max-width:1050px) {
    main {
        margin: 0;
    }
}

/* Home Section */

#home {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
}

/* overlay */

#home::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 0;
    left: 0;
}

#home .home-row {
    z-index: 1;
}

#home .home-row h1 {
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

#home .home-row h1 span {
    color: var(--theme-bg-color)
}

#home .home-row p {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}

#home .home-row p span {
    border-bottom: 4px solid var(--line-colors);
    border-radius: 2px;
}

/* Media Section */

@media only screen and (max-width:670px) {

    #home {
        padding: 30px;
    }

    #home .home-row h1 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;
    }

    #home .home-row h1 br {
        display: none;
    }

    #home .home-row p {
        font-size: 20px;
        font-weight: 400;
    }
}

/* About Section Begin */

#about {
    padding: 70px 30px;
}

/* Universal Heading */

.sub-heading-text {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

/* Universal Divider for all sections */

.divider {

    width: 80px;
    height: 4px;
    background-color: var(--theme-bg-color);
    border-radius: 3px;

}

.sub-pgraph {
    color: var(--text-color);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-top: 15px;
}

#about .about-col {

    display: flex;
    gap: 20px;
    margin-top: 25px;

}

#about .about-col .img-col {
    flex-basis: 35%;
    text-align: center;
}

#about .about-col .img-col img {
    width: 100%;
}

#about .about-col .col-info {
    flex-basis: 70%;
}

#about .about-col .col-info h2 {
    color: var(--theme-bg-color);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;
}

#about .about-col .col-info p {
    color: var(--text-color);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: italic;
}

#about .about-col .col-info .icon-col-list {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

#about .about-col .col-info .icon-col-list .icon-list ul li {
    margin: 15px 0;
    list-style-type: none;
}

#about .about-col .col-info .icon-col-list .icon-list ul li a {
    text-decoration: none;
}

#about .about-col .col-info .icon-col-list .icon-list ul li i {
    color: var(--theme-bg-color);
}

#about .about-col .col-info .icon-col-list .icon-list ul li strong {
    color: var(--side-bg-color);
    font-weight: 600;
    margin-right: 2px;
}

#about .about-col .col-info .icon-col-list .icon-list ul li span {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}


/* Mobile Version for about Section */

@media only screen and (max-width:830px) {

    #about {
        padding: 50px 10px;
    }

    #about .divider~p {
        font-size: 14px;
        letter-spacing: 0px;
        text-align: justify;
    }

    #about .about-col {
        flex-direction: column;
    }

    #about .about-col .img-col img {
        width: 50%;
    }

    #about .about-col .col-info h2 {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
    }

    #about .about-col .col-info p {
        font-size: 14px;
        letter-spacing: 0px;
    }

    #about .about-col .col-info .icon-col-list {
        flex-direction: column;
        gap: 0;
    }

    #about .about-col .col-info .icon-col-list ul li {
        margin: 10px 0;
    }

    #about .about-col .col-info .icon-col-list .icon-list ul li strong {
        font-weight: 500;
        margin-right: 0px;
    }

    #about .about-col .col-info .icon-col-list .icon-list ul li span {
        font-weight: 400;
        font-size: 13px;
    }

    @media only screen and (max-width:400px) {

        #about.about-col .img-col img {
            width: 90%;
        }

    }

}

/* About Section Ends */

/* Progress Section Begins */

#facts {

    padding: 50px 30px;
    background-color: rgba(211, 211, 211, 0.502);

}

#facts .facts-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

#facts .facts-row .facts-box #icons {
    color: brown;
    font-size: 35px;
}

#facts .facts-row .facts-box strong {
    color: var(--side-bg-color);
    font-size: 30px;
    margin-left: 5px;
    font-weight: 600;
}

#facts .facts-row .facts-box p {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}


/* mobile version for progress for tablet */


@media only screen and (max-width:850px) {

    #facts {
        padding: 40px 15px;
    }

    #facts .facts-row {

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

    }

}

/* Mobile Version for Smart Phones */

@media only screen and (max-width: 600px) {


    #facts .facts-row .facts-box #icons {
        font-size: 30px;
    }

    #facts .facts-row .facts-box strong {
        font-size: 20px;
    }

    #facts .facts-row .facts-box p {

        font-weight: 400;
        font-size: 14px;

    }



}


/* Progress Section Ends */

/* My Skill Section Begins */

#skills {

    -webkit-box-shadow: 0px 3px 17px 9px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 3px 17px 9px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 3px 17px 9px rgba(0, 0, 0, 0.57);

    padding: 20px 30px 50px;
}

#skills .my-skills-row {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#skills .my-skills-row .skills-box {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#skills .my-skills-row .skills-box .skills-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

#skills .my-skills-row .skills-box .skills-info h2 {
    color: var(--side-bg-color);
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
}

#skills .my-skills-row .skills-box .skills-outer-line {
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius: 15px;
}

#skills .my-skills-row .skills-box .skills-outer-line .skills-inner-line {
    height: 10px;
    background-color: var(--theme-bg-color);
    border-radius: 20px;
}


@media only screen and (max-width:700px) {

    #skills {
        padding: 50px 15px;
    }

    #skills .my-skills-row {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

/* My Skill Section Ends */


/* Curriculum Vitae  Begins */

#cv {
    padding: 70px 30px;
    background-color: rgba(255, 253, 253, 0.108);
}

#cv .cv-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#cv .cv-row .cv-cols {
    flex-basis: 50%;
}

#cv .cv-row .cv-cols h2 {
    color: var(--side-bg-color);
    font-weight: 600;
    font-size: 25px;
    margin: 15px 0;
}

#cv .cv-row .cv-cols .my-info {
    padding: 0 20px 0 20px;
    margin: 20px 0;
    border-left: 2px solid var(--theme-bg-color);
    position: relative;
}

/* Circle for CV */

#cv .cv-row .cv-cols .my-info::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--theme-bg-color);
    background-color: rgb(207, 198, 198);
}

#cv .cv-row .cv-cols h3 {
    color: var(--side-bg-color);
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

#cv .cv-row .cv-cols .my-info p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin: 10px 0;
}

#cv .cv-row .cv-cols .my-info ul li {
    margin: 10px 0;
    margin-left: 20px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

#cv .cv-row .cv-cols .my-info-edu {
    padding: 0 20px 0 20px;
    border-left: 2px solid var(--theme-bg-color);
    position: relative;
}

#cv .cv-row .cv-cols .my-info-edu::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--theme-bg-color);
    background-color: rgb(207, 198, 198);
}

#cv .cv-row .cv-cols .sp-boxes {
    padding: 4px 22px;
    background-color: rgba(76, 81, 83, 0.365);
    color: rgb(40, 39, 39);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin: 15px 0;
    display: inline-block;
}

#cv .cv-row .cv-cols .my-info-edu span+p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
}

#cv .cv-row .cv-cols .my-info-edu span+p+p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 15px;
}

#cv .cv-row .cv-cols .prof-exp {
    padding: 0 20px 10px;
    border-left: 2px solid var(--theme-bg-color);
    position: relative;
}

#cv .cv-row .cv-cols .prof-exp::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--theme-bg-color);
    background-color: rgb(207, 198, 198);
}

#cv .cv-row .cv-cols .prof-exp p {
    color: var(--text-color);
    font-weight: 500;
    font-style: italic;
}

#cv .cv-row .cv-cols .prof-exp ul li {
    margin: 10px 0;
    margin-left: 20px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

#cv .cv-row .cv-cols .prof-exp .cv-btn {
    background-color: var(--text-color);
    color: white;
    border-radius: 50px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;

    -webkit-box-shadow: 1px 20px 16px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 20px 16px -13px rgba(0, 0, 0, 1);
    box-shadow: 1px 20px 16px -13px rgba(0, 0, 0, 1);
}

#cv .cv-row .cv-cols .prof-exp .cv-btn:hover {
    background-color: rgb(84, 230, 230);
    color: var(--text-color);
    -webkit-box-shadow: inset 1px 2px 27px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 2px 27px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 2px 27px 0px rgba(0, 0, 0, 0.7);
}

/* CV Mobile Version */

@media only screen and (max-width:850px) {

    #cv {
        padding: 50px 15px;
    }

    #cv .cv-row {
        flex-direction: column;
    }

    #cv .cv-row .cv-cols {
        flex-basis: 100%;
    }

}

/* Curriculum Vitae  Ends */

/* ------------------------------------------------------------- */

/* My Portfolio Project Section Begins  */

#my-portfolio {
    padding: 70px 30px;
}

#my-portfolio .my-port-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

#my-portfolio .my-port-row .my-port-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#my-portfolio .my-port-row .my-port-item .my-port-img img {
    width: 100%;
    height: 300px;
    border-radius: 10px;

}

#my-portfolio .my-port-row .my-port-item .my-port-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.686);
    color: white;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(0);
    transition: 0.9s;
    border-radius: 10px;
    visibility: hidden;
}

#my-portfolio .my-port-row .my-port-item:hover .my-port-info {
    transform: scale(1);
    visibility: visible;
}

#my-portfolio .my-port-row .my-port-item .my-port-info h4 {
    color: var(--bg-color);
    font-size: 25px;
    font-weight: 600;
}

#my-portfolio .my-port-row .my-port-item .my-port-info h4+p {
    color: var(--bg-color);
    font-size: 14px;
}

#my-portfolio .my-port-row .my-port-item .my-port-info a {
    text-decoration: none;
    display: inline;
    font-size: 20px;
    width: 45px;
    height: 45px;
    background-color: #2C2F3F;
    color: var(--bg-color);
    line-height: 46px;
    border-radius: 50%;
    transition: 0.5s;
}

#my-portfolio .my-port-row .my-port-item .my-port-info a:hover {
    background-color: var(--bg-color);
    color: black;
}

/* Mobile Version Portfolio */

@media only screen and (min-width:500px) and (max-width:830px) {
    #my-portfolio {
        padding: 50px 10px;
    }

    #my-portfolio .my-port-row {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    #my-portfolio .my-port-row .my-port-item .my-port-img img {
        width: 100%;
        height: 250px;
        border-radius: 10px;

    }
}

@media only screen and (min-width:250px) and (max-width:500px) {
    #my-portfolio {
        padding: 50px 10px;
    }

    #my-portfolio .my-port-row {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

    #my-portfolio .my-port-row .my-port-item .my-port-img img {
        width: 100%;
        height: 250px;
        border-radius: 10px;

    }
}

/* My Portfolio Project Section Ends  */

/* Project Timeline Begins */



/* Project Timeline Ends */