header {
    height: 100vh;
    width: fit-content;
    padding: 15px 30px;
    margin-right: 100px;
    background-color: var(--side-bg-color);
    overflow-y: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}


header .profile-container {
    text-align: center;
    margin: 10px 0;
}

header .profile-container img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--icons-bg-color);
}

header .profile-container h2 {
    color: white;
    font-weight: 600;
}

header .profile-container .social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--icons-bg-color);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}

header .profile-container .social-icons a:hover {
    background-color: var(--line-colors);
    color: black;
    transition: 0.9s;
}

/* Navigation Bar Section Begins */

header nav {
    margin-top: 30px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover .icons {
    color: var(--line-colors);
}

header nav ul li .active .icons {
    color: var(--line-colors);
}


/* Footer Header */

header .footer-header {
    text-align: center;
    background-color: var(--side-bg-color);
    width: 260px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

header .footer-header p a {
    color: var(--bg-color);
}