
/* Entire Sidebar CSS*/

header {
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--side-bg-color);
    overflow-y: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}

header .profile-container {
    text-align: center;
    margin: 10px 0;
}

header .profile-container img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--icons-bg-color);
}

header .profile-container h1 {
    color: white;
    font-weight: 600;
}

header .profile-container .social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--icons-bg-color);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}

header .profile-container .social-icons a:hover {
    background-color: var(--theme-bg-color);
}

/* Navigation Bar Section Begins */

header nav {
    margin-top: 30px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover .icons {
    color: var(--theme-bg-color);
}

header nav ul li .active .icons {
    color: var(--theme-bg-color);
}


/* Footer Header */

header .footer-header {
    text-align: center;
    background-color: var(--side-bg-color);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

header .footer-header p a {
    color: var(--bg-color);
}


/* Navigation Bar Ends */

/*--------------------------------------------------------------*/

/* Buttons Overlay */

#Menubtn {

    padding: 10px;
    position: fixed;
    top: 25px;
    right: 25px;
    height: 35px;
    width: 37px;
    font-size: 20px;
    line-height: 15px;
    color: white;
    background-color: var(--theme-bg-color);
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    display: none;
    z-index: 999;

}



#Menubtn i {
    font-size: 4px;
}


/* Pop up Contact form Begins */

.show-btn {
    padding: 5px 5px 5px 5px;
    position: fixed;
    top: 75%;
    right: 25px;
    width: 42px;
    height: 44px;
    color: white;
    font-size: 27px;
    text-align: center;
    background-color: rgb(24, 161, 161);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.75);
}

.show-btn:hover {
    background-color: rgb(218, 246, 173);
    color: #040b14;
}



input[type="checkbox"] {
    padding: 5px 5px 5px 5px;
    position: fixed;
    top: 540px;
    right: 25px;
    width: 42px;
    height: 44px;
    color: white;
    font-size: 27px;
    text-align: center;
    background-color: var(--theme-bg-color);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    visibility: hidden;
}

#show:checked~.wrapper {
    display: none;
}

.wrapper {
    padding: 0;
    margin: 10px;
    top: 42%;
    position: fixed;
    width: 30%;
    height: fit-content;
    color: white;
    font-size: 27px;
    text-align: center;
    background-color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.871);
    z-index: 999;
}

.wrapper .title-msg {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: flex;
    background-color: #2C2F3F;
    border-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.wrapper .title-msg .pic-box {
    display: flex;
    align-items: center;
    padding: 0px 0 0 15px;
}

.wrapper .title-msg .pic-box img {
    height: 55px;
    width: 50px;
    border-radius: 50%;
}

.wrapper .title-msg .status {
    display: flex;
    align-items: center;
}

.wrapper .title-msg .status .point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: greenyellow;
}



.wrapper .title-msg h5 {
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
}

.wrapper h5+p {
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px 20px;
    text-align: center;
    color: var(--text-color);
}

.wrapper .status .stats {
    font-size: 15px;
    font-weight: 400;
}

.wrapper form {
    width: auto;
    padding: 10px 15px 10px;
    border-radius: 10px;
    border: 1px solid rgb(238, 236, 236);
}

.wrapper form input {
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 51px;
    border: none;
    outline: none;
    color: #040b14;
    margin-bottom: 8px;
    border-radius: 12px;
    border: 1px solid rgb(70, 67, 67);
    outline: none;
}

.wrapper form button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper form input:focus {
    border-color: rgb(238, 236, 236);
}

.wrapper form button:hover {
    background-color: rgb(18, 68, 68);
    color: white;
}

.wrapper {
    animation: popup 1s;
}

@keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*Header toggle */

.mobile-nav-active header {
    left: 0;
}

/* Header Section Ends - CSS Properties */


