/* My Portfolio Project Section Begins  */

#my-portfolio {
    padding: 70px 30px;
}

#my-portfolio .my-port-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

#my-portfolio .my-port-row .my-port-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;

    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}


#my-portfolio .my-port-row .my-port-item .my-port-img img {
    width: auto;
    height: auto;
    border-radius: 10px;

}

#my-portfolio .my-port-row .my-port-item .my-port-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.686);
    color: white;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(0);
    transition: 0.9s;
    border-radius: 10px;
    visibility: hidden;
}

#my-portfolio .my-port-row .my-port-item:hover .my-port-info {
    transform: scale(1);
    visibility: visible;
}

#my-portfolio .my-port-row .my-port-item .my-port-info h4 {
    color: var(--bg-color);
    font-size: 25px;
    font-weight: 600;
}

#my-portfolio .my-port-row .my-port-item .my-port-info h4+p {
    color: var(--bg-color);
    font-size: 14px;
}

#my-portfolio .my-port-row .my-port-item .my-port-info a {
    text-decoration: none;
    display: inline;
    font-size: 20px;
    width: 45px;
    height: 45px;
    background-color: #2C2F3F;
    color: var(--bg-color);
    line-height: 46px;
    border-radius: 50%;
    transition: 0.5s;
}

#my-portfolio .my-port-row .my-port-item .my-port-info a:hover {
    background-color: var(--bg-color);
    color: black;
}