/* Home Section */

#home {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
}

/* overlay */

#home::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 0;
    left: 0;
}

#home .home-row {
    z-index: 1;
}

#home .home-row h1 {
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

#home .home-row h1 span {
    color: var(--theme-bg-color)
}

#home .home-row p {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}

#home .home-row p span {
    border-bottom: 4px solid var(--line-colors);
    border-radius: 2px;
}