/* My Skill Section  */

#skills {

    -webkit-box-shadow: 0px 3px 17px 9px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 3px 17px 9px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 3px 17px 9px rgba(0, 0, 0, 0.57);

    padding: 20px 30px 50px;
}

#skills .my-skills-row {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#skills .my-skills-row .skills-box {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#skills .my-skills-row .skills-box .skills-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

#skills .my-skills-row .skills-box .skills-info h2 {
    color: var(--side-bg-color);
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
}

#skills .my-skills-row .skills-box .skills-outer-line {
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius: 15px;
}

#skills .my-skills-row .skills-box .skills-outer-line .skills-inner-line {
    height: 10px;
    background-color: var(--theme-bg-color);
    border-radius: 20px;
}