/* Curriculum Vitae  Begins */

#cv {
    padding: 70px 30px;
    background-color: rgba(255, 253, 253, 0.108);
}

#cv .cv-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#cv .cv-row .cv-cols {
    flex-basis: 50%;
}

#cv .cv-row .cv-cols h2 {
    color: var(--side-bg-color);
    font-weight: 600;
    font-size: 25px;
    margin: 15px 0;
}

#cv .cv-row .cv-cols .my-info {
    padding: 0 20px 0 20px;
    margin: 20px 0;
    border-left: 2px solid var(--theme-bg-color);
    position: relative;
}

/* Circle for CV */

#cv .cv-row .cv-cols .my-info::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--theme-bg-color);
    background-color: rgb(207, 198, 198);
}

#cv .cv-row .cv-cols h3 {
    color: var(--side-bg-color);
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

#cv .cv-row .cv-cols .my-info p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin: 10px 0;
}

#cv .cv-row .cv-cols .my-info ul li {
    margin: 10px 0;
    margin-left: 20px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

#cv .cv-row .cv-cols .my-info-edu {
    padding: 0 20px 0 20px;
    border-left: 2px solid var(--theme-bg-color);
    position: relative;
}

#cv .cv-row .cv-cols .my-info-edu::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--theme-bg-color);
    background-color: rgb(207, 198, 198);
}

#cv .cv-row .cv-cols .sp-boxes {
    padding: 4px 22px;
    background-color: rgba(76, 81, 83, 0.365);
    color: rgb(40, 39, 39);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin: 15px 0;
    display: inline-block;
}

#cv .cv-row .cv-cols .my-info-edu span+p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
}

#cv .cv-row .cv-cols .my-info-edu span+p+p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 15px;
}

#cv .cv-row .cv-cols .prof-exp {
    padding: 0 20px 10px;
    border-left: 2px solid var(--theme-bg-color);
    position: relative;
}

#cv .cv-row .cv-cols .prof-exp::before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--theme-bg-color);
    background-color: rgb(207, 198, 198);
}

#cv .cv-row .cv-cols .prof-exp p {
    color: var(--text-color);
    font-weight: 500;
    font-style: italic;
}

#cv .cv-row .cv-cols .prof-exp ul li {
    margin: 10px 0;
    margin-left: 20px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

#cv .cv-row .cv-cols .prof-exp .cv-btn {
    background-color: var(--text-color);
    color: white;
    border-radius: 50px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;

    -webkit-box-shadow: 1px 20px 16px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 20px 16px -13px rgba(0, 0, 0, 1);
    box-shadow: 1px 20px 16px -13px rgba(0, 0, 0, 1);
}

#cv .cv-row .cv-cols .prof-exp .cv-btn:hover {
    background-color: rgb(84, 230, 230);
    color: var(--text-color);
    -webkit-box-shadow: inset 1px 2px 27px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 2px 27px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 2px 27px 0px rgba(0, 0, 0, 0.7);
}
