/* Mobile Version Pop up Contact */


@media only screen and (max-width: 360px) {
    .wrapper {
        top: 20%;
    }
}


/* Pop up Contact form Ends */



/* Mobile  View */

@media only screen and (max-width:1050px) {

    header {
        left: -300px;
    }

    header .footer-header {
        left: -300px;
    }

    #Menubtn {
        display: block;
    }

    .wrapper {
        width: 80%;
        right: 35%;
    }

    .show-btn {
        top: 80px;
    }

}

@media only screen and (max-width:1366px) {
    .show-btn {
        margin-top: 8%;
    }

    .wrapper {
        right: 5%;
    }
}