/* Mobile Version Pop up Contact */



@media only screen and (max-width: 600px) {
    .wrapper {
        top: 20%;
    }
}



/* Pop up Contact form Ends */



/* Mobile  View */

@media only screen and (max-width:1050px) {

    header {
        left: -300px;
    }

    header .footer-header {
        left: -300px;
    }

    #Menubtn {
        display: block;
    }

    .wrapper {
        width: 80%;
        right: 35%;
    }

    .show-btn {
        top: 6%;
        font-size: 17px;
        padding: 1px;
    }

}

@media only screen and (min-width:800px) {
    .show-btn {
        margin-top: 8%;
    }

    .wrapper {
        right: 5%;
    }
}