/* Mobile Version Pop up Contact */



@media only screen and (max-width: 600px) {
    .wrapper {
        top: 20%;
    }
}



/* Pop up Contact form Ends */



/* Mobile  View */

@media only screen and (max-width:1050px) {

    header {
        left: -300px;
    }

    header .footer-header {
        left: -300px;
    }

    #Menubtn {
        display: block;
    }

    .wrapper {
        top: 20%;
        width: 80%;
        right: 10%;
    }

    .show-btn {
        top: 13%;
        font-size: 17px;
        padding: 1px;
    }

}

@media only screen and (min-height:700px) {
    .wrapper {
        top: 55%;
    }
}




@media only screen and (min-width:1000px) {

    .show-btn {
        margin-top: 5%;
    }

    .wrapper {
        width:40%;
        top: 55%;
        right: 5%;
    }

}

@media only screen and (min-width:1200px) {
    .wrapper {
        width: 20%;
    }
}
    