@media only screen and (max-width:850px) {


    #facts {
        padding: 40px 15px;
    }

    #facts .facts-row {

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

    }

}

/* Mobile Version for Smart Phones */

@media only screen and (max-width: 600px) {


    #facts .facts-row .facts-box #icons {
        font-size: 30px;
    }

    #facts .facts-row .facts-box strong {
        font-size: 20px;
    }

    #facts .facts-row .facts-box p {

        font-weight: 400;
        font-size: 14px;

    }



}